
<button (click)="this.toasterService.showSuccess('Account Created Successfully')">Success</button>
<button (click)="this.toasterService.showWarning('Account Changed Successfully')">Warning</button>
<button (click)="this.toasterService.showInfo('Account Switched Successfully')">Info</button>
<button (click)="this.toasterService.showDanger('Account Deleted Successfully')">Danger</button>
<lib-toastr-notify></lib-toastr-notify>
<h1>Test Component</h1>
<h1>Test Component</h1>
<h1>Test Component</h1>
<h1>Test Component</h1>
<h1>Test Component</h1>

